body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.navbar {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30PX;
  font-weight: bold;
}

.search{
  margin: 10px;
  text-align: center;
}

.input{
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.name{
  color: #f5f5f5;
  text-decoration: none;
}
.coin-card {
  text-align: center;
  background: rgb(80, 162, 250);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.3s;
}

.coin-card:hover {
  background: #ddd;
}
